{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
 <link rel="stylesheet" href="{% static 'About.css' %}">

</head>
<body>

    <h1>About Us</h1>

    <p>
        Welcome to our website. We are dedicated to creating simple and
        easy-to-use web pages for learning and development.
    </p>

    <p>
        Our mission is to help beginners understand web technologies
        like HTML, CSS, and Django.
    </p>

    <p>
        Thank you for visiting our website.
    </p>

</body>
</html>
