{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
 <link rel="stylesheet" href="{% static 'articles.css' %}">

</head>
<body>

<h2>All Articles</h2>

{% for article in articles %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <h3>{{ article.title }}</h3>

        {% if article.image %}
            <img src="{{ article.image.url }}" width="200">
        {% endif %} 
        <p>{{ article.body }}</p>
        <small>By {{ article.author }}</small>
        <a href="{% url 'delete_article' article.id %}"
   onclick="return confirm('Are you sure?');">
   Delete
</a>

    </div>
{% empty %}
    <p>No articles found.</p>
{% endfor %}

</body>
</html>
