{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
 <link rel="stylesheet" href="{% static 'doashboard.css' %}">

</head>
<body>

  

    <h1>Welcome to Admin dashboard</h1>

    <p>Quick Links</p>
    <ul>
        <li><a href="{% url 'MyProfile.html' %}">My Profile</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'private_products' %}">Private Products</a></li>
        <li><a href="{% url 'private_articles' %}">Private Articles</a></li>
        <li><a href="{% url 'create_cart' %}">Create Cart</a></li>
        <li><a href="{% url 'create_artilces' %}">Create</a></li>

        {% endif %}
        <li><a href="{% url 'Teachers.html' %}">Users</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>


</body>
</html>
