{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teacher Login</title>
 <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
  <div class="container">
    <h2>Teacher Login</h2>
    <form method="POST">
      {% csrf_token %}
      <label for="name">Name</label><br>
      <input type="text" name="name" required>
      <label for="Password">Password</label><br>
      <input type="password" name="Password" required>
      <p>You don't have account <li><a href="regsiter.html">Register</a></li></p>
           

      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
