{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'myprofile.css' %}">
</head>
<body>

<div class="profile-container">
<h2>My Profile</h2>

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Password:</strong> {{ user.password }}</p>
{% comment %} <p><strong>Address:</strong> {{ teacher.Address }}</p>
    <p><strong>Email:</strong> {{ teacher.email }}</p>
    <p><strong>Age:</strong> {{ teacher.age }}</p>
    <p><strong>DOB:</strong> {{ teacher.DOB }}</p> {% endcomment %}

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>

</form>
<br>
        <li><a href="/karthik/app2">Home</a></li>
</div>

</body>
</html>
