{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Track Orders</title>
    <link rel="stylesheet" href="{% static 'orders.css' %}">

</head>
<body>

<div class="orders-container">
<h2>My Orders</h2>

{% for order in orders %}
    <div class="order-card">
        <p><strong>Orders:</strong> {{ order.product_name }}</p>
        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>
        <p><strong>Tracking ID:</strong> {{ order.tracking_id }}</p>

    </div>
{% empty %}
    <p class="empty-text">No orders found.</p>
{% endfor %}
</div>

</body>
</html>
