<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h2>Pay for {{ product.Productname }}</h2>
<button id="pay-btn">Pay Now</button>

<script>
    var options = {
        "key": "{{ razorpay_key }}",
        "amount": "{{ payment.amount }}",
        "currency": "INR",
        "name": "Book Store",
        "description": "{{ product.Productname }}",
        "order_id": "{{ payment.id }}",
        "handler": function (response){
            window.location.href = "/payment-success/";
        }
    };

    var rzp = new Razorpay(options);

    document.getElementById('pay-btn').onclick = function(e){
        rzp.open();
        e.preventDefault();
    }
</script>

</body>
</html>