{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="{% static 'shopping.css' %}">
</head>
<body>

    <h1 class="page-title">Book Shopping</h1>

    <div class="shop-container">

    {% for product in products %}
    <div style="border:1px solid black; padding:10px; margin-bottom:10px;">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.Productname }}" style="max-width: 200px; height: auto;">
        {% endif %}
        <h3>{{ product.Productname }}</h3>
        <p><strong>Price:</strong> ₹{{ product.Price }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ product.description }}</p>
    </div>
{% empty %}
    <p>No products added yet.</p>
{% endfor %}
    </div>

</body>
</html>
