{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="{% static 'shopping.css' %}">
</head>
<body>

    <h1 class="page-title">Book Shopping</h1>

    <div class="shop-container">

    {% for product in products %}
    <div class="product-card">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.Productname }}">
        {% endif %}
        <h3>{{ product.Productname }}</h3>
        <p class="price"><strong>Price:</strong> ₹{{ product.Price }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ product.description }}</p>
        <button class="add-to-cart-btn">Add to Cart</button>
        <a href="{% url 'buy_product' product.id %}"><button class="buy-now-btn">Buy Now</button></a>
    </div>
{% empty %}
    <p>No products added yet.</p>
{% endfor %}
    </div>

</body>
</html>
