{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'create_articles.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Update</h2>

    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ teachers.name }}"><br><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" value="{{ teachers.age }}"><br><br>
        <label for="enrollment_date">Enrollment Date:</label><br>
        <input type="date" id="enrollment_date" name="enrollment_date" value="{{ teachers.enrollment_date|date:'Y-m-d' }}"><br><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" value="{{ teachers.Address }}"><br><br>
        <label for="Gender">Gender:</label><br>
        <input type="text" id="Gender" name="Gender" value="{{ teachers.Gender }}"><br><br>
        <button type="submit">Update</button>
    </form>
</div>

</body>
</html>
